Repository bottlerocket-os/bottlerocket-update-operator, pull requests merged in 2021-11, with the labels that each got.

#95 0.2.0 apiserver tracing
  Cargo.lock
  apiserver/Cargo.toml
  apiserver/src/api.rs
  apiserver/src/error.rs
  apiserver/src/lib.rs
  apiserver/src/main.rs
  apiserver/src/telemetry.rs
  models/Cargo.toml
  models/src/node.rs
Labels: component/apiserver, 0.2.0-dev

#101 0.2.0 Add additional information to `kubectl get bottlerocketnodes`
  models/src/node.rs
  yamlgen/deploy/bottlerocket-node-crd.yaml
Labels: 0.2.0-dev

#110 0.2.0 Demo/Design Slides
  design/brn-resource.png
  design/brupop-demo.md
  design/brupop-demo.pdf
  design/nested-control-loops.png
Labels: 0.2.0-dev

#92 0.2.0: Add initial implementation of agent
  Cargo.lock
  agent/Cargo.toml
  agent/src/agentclient.rs
  agent/src/apiclient.rs
  agent/src/error.rs
  agent/src/lib.rs
  agent/src/main.rs
  models/src/node.rs
Labels: component/agent, 0.2.0-dev

#117 0.2.0: Improve GitHub Actions workflow
  .github/cache_bust
  .github/workflows/ci.yml
  .github/workflows/image.yaml
  .github/workflows/rust.yaml
Labels: 0.2.0-dev

#112 Filter apiserver health check requests from telemetry
  Cargo.lock
  apiserver/Cargo.toml
  apiserver/src/api.rs
  apiserver/src/telemetry.rs
Labels: component/apiserver, 0.2.0-dev

#114 0.2.0 Improve Readability of State Machine State Names
  agent/src/agentclient.rs
  controller/src/controller.rs
  controller/src/statemachine.rs
  models/src/node/mod.rs
  yamlgen/deploy/bottlerocket-node-crd.yaml
Labels: 0.2.0-dev

#115 0.2.0: Add client abstraction for apiserver
  Cargo.lock
  agent/Cargo.toml
  agent/src/agentclient.rs
  agent/src/error.rs
  agent/src/main.rs
  apiserver/Cargo.toml
  apiserver/src/api.rs
  apiserver/src/client/error.rs
  apiserver/src/client/mock.rs
  apiserver/src/client/mod.rs
  apiserver/src/client/webclient.rs
  apiserver/src/constants.rs
  apiserver/src/error.rs
  apiserver/src/lib.rs
  apiserver/src/telemetry.rs
  yamlgen/deploy/brupop-resources.yaml
Labels: component/apiserver, component/agent, 0.2.0-dev
